body{
    font-size: 20px !important;
}
.error{
    color: red;
}

.column {
    height: 350px;
    width: 35px;
    background-color: #9e9e9e;
    border-radius: 20px;
}

.set_chrome {
    left: 55px;
}

.set_chrome img {
    position: relative;
    left: 8px;
}

.arrow {
    height: 50px;
    width: 500px;
}

.arrow_left {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.set_space{
    margin-top: 15px;
    margin-bottom: 15px;
}

.btn-modal{
    width: 150px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 10px;
}

.head{
    position: relative;
    top:-108px;
}

.btn-start{
    width: 100px;
    position: relative;
    top:200px;
}

.btn-play{
    width: 100px;
}

.glyphicon{
    font-size: 20px;
}

.set_play_space{
    margin-top: 100px;
}

.set-size{
    width: 100px;
}

.set-height{
    height: 450px;
    overflow-y: auto;
    overflow-x : hidden; 
    padding-left: 30px;
}
