<div class="row">
    <div class="col-md-10">
        <div class="row">
            <h3>Controller</h3>
        </div>
        <div class="row">
            <ul>
                <li>
                    In Angular, a Controller is a JavaScript constructor function.
                </li>
                <li>
                    You can attach a controller via ng-controller directive.
                </li>
                <li>
                    Inside ComponentController.js
                    <pre lang="javascript">
                        demo.controller('ComponentController', function ($scope, $modal) { 
                            --
                         }
                    </pre>
                </li>
                <li>
                     The Controller is the place where you define the logic/buisness end of the application
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-6 pull-right">
                <a ui-sref="components.factory" class="btn btn-info">Next</a>
            </div>
            <div class="col-md-6 pull-left">
                <a ui-sref="components.module" class="btn btn-info">Previous</a>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="row">
            <div class="col-md-12">
                <button class="btn" ng-click="showCss()">CSS</button>
            </div>
            <div class="col-md-12">
                <button class="btn" ng-click="showHtml()">HTML</button>
            </div>
            <div class="col-md-12">
                <button class="btn" ng-click="showJs()">JAVASCRIPT</button>
            </div>
        </div>
    </div>
</div>
