<div class="row" ng-controller="ComponentController as component">
    <div class="page-header">
        <h1>Components</h1>
    </div>
    <div class="row">
        <ul class="nav nav-pills">
            <li ui-sref-active="active"><a ui-sref="components.home">HOME</a></li>
            <li ui-sref-active="active"><a ui-sref="components.module">MODULE</a></li>
            <li ui-sref-active="active"><a ui-sref="components.controller">CONTROLLER</a></li>
            <li ui-sref-active="active"><a ui-sref="components.factory">FACTORY</a></li>
            <li ui-sref-active="active"><a ui-sref="components.directive">DIRECTIVE</a></li>
        </ul>
            
    </div>
    <div ui-view></div>
</div>
