<div class="row">
    <div class="col-md-10">
        <div class="row">
            <h3>Directive</h3>
        </div>
        <div class="row">
            <ul>
                <li>
                    Directives are markers on a DOM element (such as an attribute, element name, comment or CSS class) that tell AngularJS's HTML compiler to attach a specified behavior to that DOM element or even transform the DOM element and its children.
                </li>
                <li>
                    Directives are reffered by their case-sensitive camelCase normalized name for definition. Example <b>(NgModel)</b>
                </li>
                <li>
                    Directives are reffered by their dash-delimited name for attaching them in html. Example <b>(ng-model)</b>
                </li>
            </ul>
        </div>
        <div test></div>
        <div class="row">
            <div class="col-md-6 pull-right">
                <a ui-sref="binding" class="btn btn-info set-size">Next</a>
            </div>
            <div class="col-md-6 pull-left">
                <a ui-sref="components.factory" class="btn btn-warning set-size">Previous</a>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-primary btn-modal head" ng-click="showHtml('directiveinfo')">HTML</button>
            </div>
            <div class="col-md-12">
                <button class="btn btn-primary btn-modal head" ng-click="showJs('directivejs')">JAVASCRIPT</button>
            </div>
        </div>
    </div>
</div>
