<div class="row">
    <div class="col-md-10">
        <div class="row">
            <h3>Other Directive</h3>
        </div>
        <div class="row">
            <ul>
                <li>ng-click</li>
                <li>ng-change</li>
                <li>ng-change</li>
                <li>ng-keypress</li>
            </ul>
        </div>
        <div class="set_space row">
            <div class="col-md-6 pull-right">
                <a ui-sref="forms-basic" class="btn btn-info set-size">Next</a>
            </div>
            <div class="col-md-6 pull-left">
                <a ui-sref="directive.ng_options" class="btn btn-warning set-size">Previous</a>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-primary btn-modal head" ng-click="showCss()">CSS</button>
            </div>
            <div class="col-md-12">
                <button class="btn btn-primary btn-modal head" ng-click="showHtml()">HTML</button>
            </div>
            <div class="col-md-12">
                <button class="btn btn-primary btn-modal head" ng-click="showJs()">JAVASCRIPT</button>
            </div>
        </div>
    </div>
</div>
