<div class="row">
    <div class="col-md-10">
        <div class="row">
            <h3>Directive ng-init</h3>
        </div>
        <div class="row">
            <p>
                The ng-init directive initializes application data. It can be used for
                <ul>
                    <li>
                        Initializing model in scope inside html
                        <div>
                            For example initializing 'test' with 'Testing' <br>
                            <span ng-init="test='Testing'"> test = {{test}}</span>
                        </div>
                    </li>
                    <li ng-init="text1 = 'This is initialized by ng-init'">Initializing a model of a text box<br>
                        <input type="text" class="form-control" ng-model="text1">
                    </li>
                    <li>
                        Call a function<br>
                        <span ng-init="ngInitFunc()"><b>{{initfunct}}</b></span> 
                    </li>
                    <li>This directive has higher priority than other directives</li>
                </ul>
            </p>
        </div>
        <div class="set_space row">
            <div class="col-md-6 pull-right">
                <a ui-sref="directive.ng_if" class="btn btn-info set-size">Next</a>
            </div>
            <div class="col-md-6 pull-left">
                <a ui-sref="directive.ng_model" class="btn btn-warning set-size">Previous</a>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-primary btn-modal head" ng-click="showHtml('nginitinfo')">HTML</button>
            </div>
        </div>
    </div>
</div>
