<div class="row">
    <div class="col-md-10">
        <div class="row">
            Directive ng-options
        </div>
        <div class="row">
            <div class="col-md-6 pull-right">
                <a ui-sref="forms" class="btn btn-info">Next</a>
            </div>
            <div class="col-md-6 pull-left">
                <a ui-sref="directive.ng_repeat" class="btn btn-info">Previous</a>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="row">
            <div class="col-md-12">
                <button class="btn" ng-click="showCss()">CSS</button>
            </div>
            <div class="col-md-12">
                <button class="btn" ng-click="showHtml()">HTML</button>
            </div>
            <div class="col-md-12">
                <button class="btn" ng-click="showJs()">JAVASCRIPT</button>
            </div>
        </div>
    </div>
</div>
