<div class="row">
    <div class="page-header">
        <h1>Directives</h1>
    </div>
    <div class="row">
        <ul class="nav nav-pills">
            <li ui-sref-active="active"><a ui-sref="directive.ng_model">ngModel</a></li>
            <li ui-sref-active="active"><a ui-sref="directive.ng_init">ngInit</a></li>
            <li ui-sref-active="active"><a ui-sref="directive.ng_if">ngIf</a></li>
            <li ui-sref-active="active"><a ui-sref="directive.ng_show_hide">ngShow/ngHide</a></li>
            <li ui-sref-active="active"><a ui-sref="directive.ng_repeat">ngRepeat</a></li>
            <li ui-sref-active="active"><a ui-sref="directive.ng_options">ngOptions</a></li>
        </ul>
            
    </div>
    <div ui-view></div>
</div>
