<div class="row">
    <div class="col-md-10">
        <div class="row">
            <h3>Directive ng-if</h3>
        </div>
        <div class "row">
            <p><b>The ngIf directive removes or recreates a portion of the DOM tree based on an {expression}. If the expression assigned to ngIf evaluates to a false value then the element is removed from the DOM, otherwise a clone of the element is reinserted into the DOM.</b></p>
        </div>
        <div class="row" ng-init="check1=true;check2=false">
            <div class="col-md-4">
                <label for="" class="label-control">Check Box 1</label>
            </div>
            <div class="col-md-4">
                <input type="checkbox" class="form-control" ng-model="check1">
            </div>
            <div class="col-md-4">check1 value : {{check1}}</div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label for="" class="label-control">Check Box 2</label>
            </div>
            <div class="col-md-4">
                <input type="checkbox" class="form-control" ng-model="check2">
            </div>
            <div class="col-md-4">check2 value : {{check2}}</div>
        </div>
        <div ng-if="check1==true">
            I am added because checkbox 1 is true
        </div>
        <div ng-if="check2==false">
            I am added because checkbox 2 is false
        </div>
        <div class="set_space row">
            <div class="col-md-6 pull-right">
                <a ui-sref="directive.ng_show_hide" class="btn btn-info set-size">Next</a>
            </div>
            <div class="col-md-6 pull-left">
                <a ui-sref="directive.ng_init" class="btn btn-warning set-size">Previous</a>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-primary btn-modal head" ng-click="showCss()">CSS</button>
            </div>
            <div class="col-md-12">
                <button class="btn btn-primary btn-modal head" ng-click="showHtml()">HTML</button>
            </div>
            <div class="col-md-12">
                <button class="btn btn-primary btn-modal head" ng-click="showJs()">JAVASCRIPT</button>
            </div>
        </div>
    </div>
</div>
