<div class="row">
    <div class="page-header">
        <h1>Forms</h1>
    </div>
    <div class="set_space row">
        <ul class="nav nav-pills">
            <li ui-sref-active="active" class="col-md-4"><a ui-sref="forms-basic">Basic</a></li>
            <li ui-sref-active="active" class="col-md-4"><a ui-sref="forms">Example</a></li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-10">
            <div class="row">
                <form name="form" role="form" novalidate ng-submit="submitForm()">
                    <div class="form-group row">
                        <div class="col-md-2">
                            <label for="" class="label-control">Name<span class="requried">*</span></label>
                        </div>
                        <div class="col-md-4">
                            <input type="text" class="form-control" name="name" ng-model="name" ng-required="true">
                            <div class="error">
                                <p ng-if="(form.name.$invalid == true && form.name.$dirty)">Please enter name</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-2">
                            <label for="" class="label-control">Email<span class="requried">*</span></label>
                        </div>
                        <div class="col-md-4">
                            <input type="email" class="form-control" name="email" ng-model="email" ng-required="true">
                            <div class="error">
                                <p ng-if="(form.email.$invalid == true && form.email.$dirty && form.email.$viewValue != '')">Please enter valid email</p>
                                <p ng-if="(form.email.$invalid == true && form.email.$dirty && form.email.$viewValue == '')">Please enter email</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-2">
                            <label for="" class="label-control">Prefferd Food</label>
                        </div>
                        <div class="col-md-4">
                            <input type="radio" ng-model="prefferd_food" value="Ice-Cream">Ice-Cream
                            <input type="radio" ng-model="prefferd_food" value="Candy">Candy
                            <input type="radio" ng-model="prefferd_food" value="Chocolate">Chocolate
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-2">
                            <label for="" class="label-control">Cars you like</label>
                        </div>
                        <div class="col-md-6">
                            <input type="checkbox" ng-model="car1">Audi R8-Spyder.
                            <input type="checkbox" ng-model="car2">BMW X1
                            <input type="checkbox" ng-model="car3">Ferrari F430 Spider
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4 col-md-offset-3">
                            <button class="btn btn-success" type="submit">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="set_space row">
                <div class="col-md-6 pull-right">
                    <a ui-sref="merits" class="btn btn-info set-size">Next</a>
                </div>
                <div class="col-md-6 pull-left">
                    <a ui-sref="forms-basic" class="btn btn-warning set-size">Previous</a>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-primary btn-modal head" ng-click="showHtml('forminfo')">HTML</button>
                </div>
                <div class="col-md-12">
                    <button class="btn btn-primary btn-modal head" ng-click="showJs('formjs')">JAVASCRIPT</button>
                </div>
            </div>
        </div>
    </div>
</div>
