<div class="row">
    <div class="page-header">
        <h1>Forms</h1>
    </div>
    <div class="col-md-10">
        <div class="row">
            <div class="row">
                <ul class="nav nav-pills">
                    <li ui-sref-active="active" class="col-md-4"><a ui-sref="forms-basic">Basic</a></li>
                    <li ui-sref-active="active" class="col-md-4"><a ui-sref="forms">Example</a></li>
                </ul>
            </div>
            <div class="row">
                <ul>
                    <li>Angular provides powerful means to control forms</li>
                    <li>Forms in angular provide validation indication</li>
                    <li>Inputs in forms can be made required dynamically using <b>ng-required</b></li>
                    <li>You can use the <b>ng-submit</b> attribute to call function to send the form </li>
                    <li>The <b>&lt;ng-form>
</b> to bring all the functionalities of form tag</li>
                    <li>
                        Following css class are added to input according to form state
                        <ul>
                            <li>ng-valid: the model is valid</li>
                            <li>ng-invalid: the model is invalid</li>
                            <li>ng-pristine: the control hasn't been interacted with yet</li>
                            <li>ng-dirty: the control has been interacted with</li>
                            <li>ng-touched: the control has been blurred</li>
                            <li>ng-untouched: the control hasn't been blurred</li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="set_space row">
                <div class="col-md-6 pull-right">
                    <a ui-sref="forms" class="btn btn-info set-size">Next</a>
                </div>
                <div class="col-md-6 pull-left">
                    <a ui-sref="directive.others" class="btn btn-warning set-size">Previous</a>
                </div>
            </div>
        </div>
    </div>
</div>

