<div class="row">
    <div class="col-md-10">
        <div>
            <h3>
               Introduction To AngularJS
            </h3>
            <div class="set_space row">
                <ul class="nav nav-pills nav-justified">
                    <li ui-sref-active="active"><a ui-sref="intro.basic">What is AngularJS</a></li>
                    <li ui-sref-active="active"><a ui-sref="intro.required">What you need</a></li>
                </ul>
            </div>
            <div ui-view></div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="row">
            <button class="btn btn-primary btn-modal" ng-click="showHtml()">HTML</button>
        </div>
        <div class="row">
            <button class="btn btn-primary btn-modal" ng-click="showJs()">JAVA SCRIPT</button>
        </div>
    </div>
</div>
