<div class="row">
    <div class="col-md-10">
        <div>
            <h3>
               Introduction To AngularJS
            </h3>
            <div class="row">
                <ul class="nav nav-pills nav-justified">
                    <li class=""><a ui-sref="intro.basic" ui-sref-active="active">What is AngularJS</a></li>
                    <li class=""><a ui-sref="intro.required" ui-sref-active="active">What you need</a></li>
                </ul>
            </div>
            <div ui-view></div> 
        </div>
    </div>
    <div class="col-md-2">
        <div class="row">
            <button class="btn" ng-click="showCss()">CSS</button>
        </div>
        <div class="row">
            <button class="btn" ng-click="showJs()">JAVA SCRIPT</button>
        </div>
        <div class="row">
            <button class="btn" ng-click="showHtml()">HTML</button>
        </div>
    </div>
</div>
