<div class="row">
    <div class="page-header">
        <h1>Merits</h1>
    </div>
    <div class="row">
        <div class="col-md-10">
            <div class="row">
                <ul>
                    <li>AngularJs is fast</li>
                    <li>It is independent of backend scripting</li>
                    <li>No need to know anything other than Javascript, HTML and CSS</li>
                    <li>No need to manupulate DOM</li>
                    <li>High Custumization</li>
                    <li>More Dynamic</li>
                </ul>
            </div>
            <div class="set_space row">
                <div class="col-md-6 pull-right">
                    <a ui-sref="questions" class="btn btn-info set-size">Next</a>
                </div>
                <div class="col-md-6 pull-left">
                    <a ui-sref="forms" class="btn btn-warning set-size">Previous</a>
                </div>
            </div>
        </div>
    </div>
</div>
