<div class="row">
    <div class="col m12">
        <span class="col m6">
			<h5>Web Server</h5>
		</span>
        <span class="col m6 set_chrome">
			<img src="images/chrome.gif" width="60px"></img><h5 class="heading">Web Browser</h5>
		</span>
    </div>
</div>
<div class="row">
    <div class="column_container col m1">
        <div class="column"></div>
    </div>
    <div class="col m6">
        <div class="row info" ng-show="work.first_action">
            <span class="info">URL Request to server</span>
        </div>
        <div class="row arrow" ng-show="work.first_action">
            <img src="images/arrow.png" width="680px" height="80px" class="arrow_left"></img>
        </div>
        <div class="row info" ng-show="work.second_action">
            <span class="info">Response with Webpages & Assets</span>
        </div>
        <div class="row" ng-show="work.second_action">
            <img src="images/arrow.png" width="680px" height="80px"></img>
        </div>
        <div class="space"></div>
        <div class="row info" ng-show="work.third_action">
            <span class="info">User clicks on link new Request</span>
        </div>
        <div class="row" ng-show="work.third_action">
            <img src="images/arrow.png" width="680px" height="80px" class="arrow_left"></img>
        </div>
        <div class="row info" ng-show="work.fourth_action">
            <span class="info">Response with Webpage & Assests</span>
        </div>
        <div class="row info" ng-show="work.fourth_action">
            <img src="images/arrow.png" width="680px" height="80px"></img>
        </div>
    </div>
    <div class="column_container col m1">
        <div class="column"></div>
    </div>
    <div class="col m4">
        <div class="row" ng-show="work.first_response">
            <div class="col m6">
                <img src="images/html.png" alt="" width="100px">
            </div>
            <div class="col m6"><img src="images/javascript.png" alt="" width="100px"></div>
        </div>
        <div class="space"></div>
        <div class="space"></div>
        <div class="row" ng-show="work.second_response">
            <div class="col m6">
                <img src="images/html.png" alt="" width="100px">
            </div>
            <div class="col m6"><img src="images/javascript.png" alt="" width="100px"></div>
        </div>
    </div>
</div>
