<h3>
    Normal Call
</h3>
<div class="row" ng-init="set_pre()">
    <div class="col-md-12">
        <span class="col-md-6">
			<h3>Web Server</h3>
		</span>
        <span class="col-md-6 set_chrome">
			<img src="images/chrome.gif" width="60px"></img><h5 class="heading">Web Browser</h5>
		</span>
    </div>
</div>
<div class="row">
    <div class="column_container col-md-1">
        <div class="column"></div>
    </div>
    <div class="col-md-6">
        <div class="row info" ng-show="work.first_action">
            <span class="info col-md-12">URL Request to server</span>
        </div>
        <div class="row" ng-show="work.first_action">
            <img src="images/arrow.png" class="arrow arrow_left"></img>
        </div>
        <div class="row info" ng-show="work.second_action">
            <span class="info col-md-12">Response with Webpages & Assets</span>
        </div>
        <div class="row" ng-show="work.second_action">
            <img src="images/arrow.png" class="arrow"></img>
        </div>
        <div class="space"></div>
        <div class="row info" ng-show="work.third_action">
            <span class="info col-md-12">User clicks on link new Request</span>
        </div>
        <div class="row" ng-show="work.third_action">
            <img src="images/arrow.png" class="arrow arrow_left"></img>
        </div>
        <div class="row info" ng-show="work.fourth_action">
            <span class="info col-md-12">Response with Webpage & Assests</span>
        </div>
        <div class="row info" ng-show="work.fourth_action">
            <img src="images/arrow.png" class="arrow"></img>
        </div>
    </div>
    <div class="column_container col-md-1">
        <div class="column"></div>
    </div>
    <div class="col-md-4">
        <div class="row" ng-show="work.first_response">
            <div class="col-md-6">
                <img src="images/html.png" alt="" width="100px">
            </div>
            <div class="col-md-6"><img src="images/javascript.png" alt="" width="100px"></div>
        </div>
        <div class="space"></div>
        <div class="space"></div>
        <div class="row" ng-show="work.second_response">
            <div class="col-md-6">
                <img src="images/html.png" alt="" width="100px">
            </div>
            <div class="col-md-6"><img src="images/javascript.png" alt="" width="100px"></div>
        </div>
    </div>
</div>
