<ul>
	<li>
		AngularJS, commonly referred to as Angular, is an open-source web application framework
	</li>
	<li>
		AngularJS application by provide's a framework for client-side model–view–controller (MVC) architecture
	</li>
	<li>
		The library works by first reading the HTML page, then add's custom tag attributes. These attributes are then interpreted as directives telling Angular to bind input or output.
	</li>
	<li>
		AngularJS' two-way data binding.
	</li>
	<li>
		Templates are rendered in plain HTML according to data contained.
	</li>
</ul>

<div class="row">
    <div class="col-md-6 pull-right"><a class="btn btn-info" ui-sref="intro.required">Next</a></div>
    <div class="col-md-6 pull-left"><a class="btn btn-info" ui-sref="home">Previous</a></div>
</div>
