<div class="row">
    <div class="row pop" ng-show="show_css">
        <div class="card blue-grey darken-1 z-depth-5">
            <div class="card-content white-text">
                <span class="card-title">CSS</span>
                <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
                <button ng-click="closePop()" class="btn">Close</button>
            </div>
        </div>
    </div>
    <div class="row pop" ng-show="show_js">
        <div class="card blue-grey darken-1 z-depth-5">
            <div class="card-content white-text">
                <span class="card-title">Java Script</span>
                <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
                <button ng-click="closePop()" class="btn">Close</button>
            </div>
        </div>
    </div>
    <div class="row pop" ng-show="show_html">
        <div class="card blue-grey darken-1 z-depth-5">
            <div class="card-content white-text">
                <span class="card-title">HTML</span>
                <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
                <button ng-click="closePop()" class="btn">Close</button>
            </div>
        </div>
    </div>
    <div class="content col l10">
        <div>
            <h3>
               Working of AngluarJS
            </h3>
            <div ui-view class="z-depth-1 white"></div>
            
        </div>
        <div class="row">
            <div class="col m6 right"><a class="btn" ui-sref="">Next</a></div>
            <div class="col m6 left"><a class="btn" ui-sref="intro.required">Previous</a></div>
        </div>
    </div>
    <div class="side col l2">
        <div class="row">
            <button class="btn z-depth-2" ng-click="showCss()">CSS</button>
        </div>
        <div class="row">
            <button class="btn z-depth-2" ng-click="showJs()">JAVA SCRIPT</button>
        </div>
        <div class="row">
            <button class="btn z-depth-2" ng-click="showHtml()">HTML</button>
        </div>
    </div>
</div>
