<div class="col-md-offset-1">
    <div>
        <div class="page-header">
            <h3>Directive HTML</h3>
        </div>
    </div>
    <div>
        <div class="set_space row">
            <div class="row">
                Test.html
            <code>
				&lt;div class="row"><br>
	&lt;p><br>
		This element has been called using a directive<br>
	&lt;/p><nr>
&lt;/div><br>
			</code>
        </div>
    </div>
    <div class="set_space row">
        <div class="col-md-offset-4">
            <btton class="btn btn-danger" ng-click="no()">Close</btton>
        </div>
    </div>
</div>
