<div class="col-md-offset-1">
    <div>
        <div class="page-header">
            <h3>Controller HTML</h3>
        </div>
    </div>
    <div>
        <div class="set_space row">
            <div class="row">
                Setting a controller in application
                <ul>
                    <li>
                        <code>
							&lt;ANY ng-controller="ControllerName">
						</code>
                    </li>
                    <li>
                        <code>
							&lt;ANY ng-controller="ControllerName as cont">
						</code>
                    </li>
                </ul>
            </div>
            <div class="row">
                Our application ng-app
            </div>
            <code>
				&lt;div ng-controller="ComponentController as component">
			</code>
        </div>
    </div>
    <div class="set_space row">
        <div class="col-md-offset-4">
            <btton class="btn btn-danger" ng-click="no()">Close</btton>
        </div>
    </div>
</div>
