<div class="col-md-offset-1">
    <div>
        <div class="page-header">
            <h3>Controller HTML</h3>
        </div>
    </div>
    <div>
        <div class="set_space row">
            <div class="row">
                Element given to directive html
            </div>
            <code>
                &lt;div test>&lt;/div>
            </code>
            <div class="row">
                The test.html
            </div>
            <code>
				&lt;div class="row"><br>
    &lt;p><br>
        This element has been called using a directive<br>
    &lt;/p><br>
&lt;/div><br>
			</code>
        </div>
    </div>
    <div class="set_space row">
        <div class="col-md-offset-4">
            <btton class="btn btn-danger" ng-click="no()">Close</btton>
        </div>
    </div>
</div>
