<div class="col-md-offset-1">
    <div>
        <div class="page-header">
            <h3>Form Js</h3>
        </div>
    </div>
    <div class="set-height">
        <div class="set_space row">
            <div class="row">
                The submit function
            </div>
            <code>
                   formcont.scope.submitForm = function () {<br>
                        if (formcont.scope.form.$invalid) {<br>
                        alert('Invalid form');<br>
                    } else {<br>
                        submit code<br>
                    }};<br>
                </code>
        </div>
    </div>
    <div class="set_space row">
        <div class="col-md-offset-4">
            <btton class="btn btn-danger" ng-click="no()">Close</btton>
        </div>
    </div>
</div>
