<div class="col-md-offset-1">
	<div>
		<div class="page-header">
			<h3>Module HTML</h3>
		</div>
	</div>
	<div>
		<div class="set_space row">
			<div class="row">
				Setting a module in application
			</div>
				<code>
					&lt;ANY ng-app="modulename">
				</code>

			<div class="row">
				Our application ng-app
			</div>
			<code>
				&lt;div ng-app="demo">
			</code>
		</div>
	</div>
	<div class="set_space row">
		<div class="col-md-offset-4">
			<btton class="btn btn-danger" ng-click="no()">Close</btton>
		</div>
	</div>
</div>