<div class="col-md-offset-1">
	<div>
		<div class="page-header">
			<h3>Module JS</h3>
		</div>
	</div>
	<div>
		<div class="set_space row">
			<div class="row">
				Defining a module
			</div>
				<code>
					angular.module('modulename',['dependencies(un-ordered)'])
				</code>

			<div class="row">
				Our application code
			</div>
			<code>
				var demo = angular.module('demo',['ui-route', 'ui-bootstrap']
			</code>
		</div>
	</div>
	<div class="set_space row">
		<div class="col-md-offset-4">
			<btton class="btn btn-danger" ng-click="no()">Close</btton>
		</div>
	</div>
</div>