<div class="col-md-offset-1">
    <div>
        <div class="page-header">
            <h3>ngOptions HTML</h3>
        </div>
    </div>
    <div class="set-height">
        <div class="set_space row">
            <div class="row">
                ngOptions Directive
            </div>
            <code>
                    &lt;select ng-options="item in items" ng-model="select1"><br>
                    &lt;select ng-options="item.name for item in items" ng-model="select1"><br>
                    &lt;select ng-options="item.id as item.name for item in items" ng-model="select1">
                </code>
            <div class="set_space"></div>
            <div class="row">
                Select box example
            </div>
            <code>
                &lt;select name="name" id="name" class="form-control" ng-model="select1" ng-options="value.name for value in option_values">&lt;/select>
            </code>
        </div>
    </div>
    <div class="set_space row">
        <div class="col-md-offset-4">
            <btton class="btn btn-danger" ng-click="no()">Close</btton>
        </div>
    </div>
</div>
