<div class="col-md-offset-1">
    <div>
        <div class="page-header">
            <h3>ngOptions JS</h3>
        </div>
    </div>
    <div class="set-height">
        <div class="set_space row">
            <div class="row">
                Function to add value to option list
            </div>
            <code>
                      directivecont.scope.addSelect = function (name) {<br>
    var item = {};<br>
    item.name = name;<br>
    directivecont.scope.option_values.push(item);<br>
  };
                </code>
    </div>
    <div class="set_space row">
        <div class="col-md-offset-4">
            <btton class="btn btn-danger" ng-click="no()">Close</btton>
        </div>
    </div>
</div>
